.git
.github
.idea
.env
*.log

linkstack/.git
linkstack/.github
linkstack/.idea
linkstack/.env
linkstack/.env.*
!linkstack/.env.example
linkstack/node_modules
linkstack/vendor
linkstack/build
linkstack/hot
linkstack/tests
linkstack/.phpunit.result.cache

